/* line 4, libs/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, libs/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 7, libs/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, libs/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, libs/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 10, libs/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, libs/_reset.scss */
a img {
  border: none;
}

/* line 12, libs/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, libs/_reset.scss */
button, input {
  line-height: normal;
}

/* line 19, libs/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, libs/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, libs/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, libs/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 19, libs/_placeholders.scss */
.row, .row__colspaced {
  *zoom: 1;
}
/* line 38, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

/* ----- CUSTOM NAV ----- */
/* line 3, modules/_navigation.scss */
.nav-container {
  max-width: 1100px;
  width: 92%;
  margin: 40px auto 25px auto;
  z-index: 9999;
  position: absolute;
  background-color: #fcfcfc;
  display: inline;
  padding: 15px 0 10px 0;
  border-bottom: 1px solid gray;
}
/* line 13, modules/_navigation.scss */
.nav-container .nav {
  font-size: 0.8125em;
  line-height: 1.35385em;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline;
}
/* line 18, modules/_navigation.scss */
.nav-container .nav .masthead {
  float: left;
  display: inline;
}
/* line 22, modules/_navigation.scss */
.nav-container .nav .nav-collapse {
  float: left;
  display: inline;
}
/* line 26, modules/_navigation.scss */
.nav-container .nav li {
  display: inline;
  margin-right: 25px;
}
/* line 30, modules/_navigation.scss */
.nav-container .nav p {
  display: inline;
  margin-right: 25px;
}
/* line 34, modules/_navigation.scss */
.nav-container .nav .name {
  letter-spacing: 2px;
}
/* line 36, modules/_navigation.scss */
.nav-container .nav .name a {
  color: #4d4d4d;
}
/* line 37, modules/_navigation.scss */
.nav-container .nav .name a:hover {
  text-decoration: none;
  color: black;
  background: none;
}

/* line 47, modules/_navigation.scss */
.f-nav {
  position: fixed;
  margin-top: 0px;
}

/* ----- RESPONSIVE NAV ----- */
/* line 59, modules/_navigation.scss */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

/* line 68, modules/_navigation.scss */
.nav-collapse.opened {
  max-height: 9999px;
}

/* line 72, modules/_navigation.scss */
.disable-pointer-events {
  pointer-events: none !important;
}

/* line 76, modules/_navigation.scss */
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
}

@media screen and (min-width: 500px) {
  /* line 88, modules/_navigation.scss */
  .js .nav-collapse {
    position: relative;
  }

  /* line 91, modules/_navigation.scss */
  .js .nav-collapse.closed {
    max-height: none;
  }

  /* line 94, modules/_navigation.scss */
  .nav-toggle {
    display: none;
  }
}
/* ----- MEDIA QUERIES ----- */
/* ----- 550 PX ----- */
@media screen and (max-width: 550px) {
  /* line 109, modules/_navigation.scss */
  .nav-container .nav .nav-collapse {
    margin-left: 5px;
  }
  /* line 112, modules/_navigation.scss */
  .nav-container .nav li {
    margin-right: 18px;
  }
  /* line 116, modules/_navigation.scss */
  .nav-container .nav p {
    margin-right: 15px;
  }
}
/* ----- 500 PX ----- */
@media screen and (max-width: 500px) {
  /* line 133, modules/_navigation.scss */
  .nav-container .nav {
    font-size: 0.875em;
    line-height: 1.57143em;
    width: 100%;
  }
  /* line 138, modules/_navigation.scss */
  .nav-container .nav .nav-collapse {
    display: block;
    float: right;
    width: 100%;
  }
  /* line 143, modules/_navigation.scss */
  .nav-container .nav li {
    display: block;
    text-align: right;
    margin-right: 0;
  }
  /* line 150, modules/_navigation.scss */
  .nav-container .nav .separator {
    display: none;
  }
  /* line 153, modules/_navigation.scss */
  .nav-container .nav .name {
    letter-spacing: 1px;
  }
}
/* ::Import styles */
/* ------------------------------------------------------------ */
/* line 10, libs/_typography.scss */
.font-body, body {
  font-family: 'courier', monospace, 'helvetica', 'arial', sans-serif;
}

/* line 11, libs/_typography.scss */
.font-var {
  font-family: Georgia, serif;
}

/* line 18, libs/_typography.scss */
p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 0.9375em;
  line-height: 1.46667em;
}

/* line 19, libs/_typography.scss */
ul {
  list-style-type: none;
}

/* line 20, libs/_typography.scss */
ol {
  list-style-type: none;
}

/* line 21, libs/_typography.scss */
li {
  line-height: inherit;
}

/* line 22, libs/_typography.scss */
strong, b {
  font-weight: 700;
}

/* line 23, libs/_typography.scss */
em, i, q {
  font-style: italic;
}

/* line 6, libs/_forms.scss */
label, legend, select {
  display: block;
}

/* line 11, libs/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 15, libs/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 22, libs/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

/* line 36, libs/_forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* line 41, libs/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

/* line 48, libs/_forms.scss */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 19, libs/_placeholders.scss */
.row, .row__colspaced {
  *zoom: 1;
}
/* line 38, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, add-ons/_module-typeset.scss */
.as-heading__headline, .is-typeset .headline {
  font-size: 2.625em;
  line-height: 1.15238em;
}

/* line 10, add-ons/_module-typeset.scss */
.as-heading__largest, .is-typeset h1 {
  font-size: 2em;
  line-height: 1.2375em;
}

/* line 11, add-ons/_module-typeset.scss */
.as-heading__large, .is-typeset h2 {
  font-size: 1.75em;
  line-height: 1.25714em;
}

/* line 12, add-ons/_module-typeset.scss */
.as-heading__medium, .is-typeset h3 {
  font-size: 1.625em;
  line-height: 1.18462em;
}

/* line 13, add-ons/_module-typeset.scss */
.as-heading__normal, .is-typeset h4 {
  font-size: 1.5em;
  line-height: 1.28333em;
}

/* line 14, add-ons/_module-typeset.scss */
.as-heading__small, .is-typeset h5 {
  font-size: 1.25em;
  line-height: 1.32em;
}

/* line 15, add-ons/_module-typeset.scss */
.as-heading__smallest, .is-typeset h6 {
  font-size: 1.125em;
  line-height: 1.22222em;
}

/* line 16, add-ons/_module-typeset.scss */
.as-blockquote, .as-blockquote--typeset, .is-typeset blockquote {
  font-size: 2em;
  line-height: 1.2375em;
  line-height: normal;
}
/* line 16, add-ons/_module-typeset.scss */
.as-blockquote p, .as-blockquote--typeset p, .is-typeset blockquote p {
  margin: 0;
  font-style: italic;
}

/* line 17, add-ons/_module-typeset.scss */
.as-para {
  font-size: 0.9375em;
  line-height: 1.46667em;
}

/* line 24, add-ons/_module-typeset.scss */
.as-heading__headline--typeset, .is-typeset .headline {
  margin: 0 0 0.31429em 0;
}

/* line 25, add-ons/_module-typeset.scss */
.as-heading__largest--typeset, .is-typeset h1 {
  margin: 0 0 0.4125em 0;
}

/* line 26, add-ons/_module-typeset.scss */
.as-heading__large--typeset, .is-typeset h2 {
  margin: 0 0 0.47143em 0;
}

/* line 27, add-ons/_module-typeset.scss */
.as-heading__medium--typeset, .is-typeset h3 {
  margin: 0 0 0.50769em 0;
}

/* line 28, add-ons/_module-typeset.scss */
.as-heading__normal--typeset, .is-typeset h4 {
  margin: 0 0 0.55em 0;
}

/* line 29, add-ons/_module-typeset.scss */
.as-heading__small--typeset, .is-typeset h5 {
  margin: 0 0 0.66em 0;
}

/* line 30, add-ons/_module-typeset.scss */
.as-heading__smallest--typeset, .is-typeset h6 {
  margin: 0 0 0.73333em 0;
}

/* line 34, add-ons/_module-typeset.scss */
.as-para--typeset, .is-typeset p {
  margin: 0 0 0.58667em 0;
}

/* line 35, add-ons/_module-typeset.scss */
.as-list--typeset, .as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul, .is-typeset li {
  margin: 0 0 0.58667em 0;
}

/* line 37, add-ons/_module-typeset.scss */
.as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul {
  margin-left: 1em;
  list-style-position: outside;
  list-style-type: disc;
}

/* line 38, add-ons/_module-typeset.scss */
.as-ordered-list--typeset, .is-typeset ol {
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 39, add-ons/_module-typeset.scss */
.as-blockquote--typeset, .is-typeset blockquote {
  margin: 0.825em 0;
}

/* line 19, libs/_placeholders.scss */
.row, .row__colspaced {
  *zoom: 1;
}
/* line 38, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

/* line 200, libs/_mixins.scss */
*[class*="colspan"] {
  width: 100%;
  display: block;
}

/* line 205, libs/_mixins.scss */
*[class*="as-grid"] {
  float: left;
  display: inline;
  display: inline-block;
}

/* line 77, libs/_mixins.scss */
.lt-ie9 *[class*="with-gutter"] {
  padding-left: 3%;
}
@media screen and (min-width: 420px) {
  /* line 211, libs/_mixins.scss */
  *[class*="with-gutter"] {
    padding-left: 3%;
  }
}

/* line 14, add-ons/_grid.scss */
.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 420px) {
  /* line 14, add-ons/_grid.scss */
  .row {
    min-width: 420px;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan2-1 {
    width: 50%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan2-2 {
    width: 100%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push2-1 {
    margin-left: 50%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push2-2 {
    margin-left: 100%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull2-1 {
    margin-right: 50%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull2-2 {
    margin-right: 100%;
  }
  /* line 179, libs/_mixins.scss */
  .row .push-disable2 {
    margin-left: 0;
  }
  /* line 182, libs/_mixins.scss */
  .row .pull-disable2 {
    margin-right: 0;
  }
  /* line 185, libs/_mixins.scss */
  .row .hide-at2 {
    display: none;
  }
  /* line 188, libs/_mixins.scss */
  .row .block-show-at2 {
    display: block;
  }
  /* line 191, libs/_mixins.scss */
  .row .inline-show-at2 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  /* line 14, add-ons/_grid.scss */
  .row {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 600px;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan6-1 {
    width: 16.66667%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan6-2 {
    width: 33.33333%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan6-3 {
    width: 50%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan6-4 {
    width: 66.66667%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan6-5 {
    width: 83.33333%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan6-6 {
    width: 100%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push6-1 {
    margin-left: 16.66667%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push6-2 {
    margin-left: 33.33333%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push6-3 {
    margin-left: 50%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push6-4 {
    margin-left: 66.66667%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push6-5 {
    margin-left: 83.33333%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push6-6 {
    margin-left: 100%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull6-1 {
    margin-right: 16.66667%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull6-2 {
    margin-right: 33.33333%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull6-3 {
    margin-right: 50%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull6-4 {
    margin-right: 66.66667%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull6-5 {
    margin-right: 83.33333%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull6-6 {
    margin-right: 100%;
  }
  /* line 179, libs/_mixins.scss */
  .row .push-disable6 {
    margin-left: 0;
  }
  /* line 182, libs/_mixins.scss */
  .row .pull-disable6 {
    margin-right: 0;
  }
  /* line 185, libs/_mixins.scss */
  .row .hide-at6 {
    display: none;
  }
  /* line 188, libs/_mixins.scss */
  .row .block-show-at6 {
    display: block;
  }
  /* line 191, libs/_mixins.scss */
  .row .inline-show-at6 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  /* line 14, add-ons/_grid.scss */
  .row {
    min-width: 900px;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan8-1 {
    width: 12.5%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan8-2 {
    width: 25%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan8-3 {
    width: 37.5%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan8-4 {
    width: 50%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan8-5 {
    width: 62.5%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan8-6 {
    width: 75%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan8-7 {
    width: 87.5%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan8-8 {
    width: 100%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push8-1 {
    margin-left: 12.5%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push8-2 {
    margin-left: 25%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push8-3 {
    margin-left: 37.5%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push8-4 {
    margin-left: 50%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push8-5 {
    margin-left: 62.5%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push8-6 {
    margin-left: 75%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push8-7 {
    margin-left: 87.5%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push8-8 {
    margin-left: 100%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull8-1 {
    margin-right: 12.5%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull8-2 {
    margin-right: 25%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull8-3 {
    margin-right: 37.5%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull8-4 {
    margin-right: 50%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull8-5 {
    margin-right: 62.5%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull8-6 {
    margin-right: 75%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull8-7 {
    margin-right: 87.5%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull8-8 {
    margin-right: 100%;
  }
  /* line 179, libs/_mixins.scss */
  .row .push-disable8 {
    margin-left: 0;
  }
  /* line 182, libs/_mixins.scss */
  .row .pull-disable8 {
    margin-right: 0;
  }
  /* line 185, libs/_mixins.scss */
  .row .hide-at8 {
    display: none;
  }
  /* line 188, libs/_mixins.scss */
  .row .block-show-at8 {
    display: block;
  }
  /* line 191, libs/_mixins.scss */
  .row .inline-show-at8 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1100px) {
  /* line 14, add-ons/_grid.scss */
  .row {
    min-width: 1100px;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-1 {
    width: 8.33333%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-2 {
    width: 16.66667%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-3 {
    width: 25%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-4 {
    width: 33.33333%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-5 {
    width: 41.66667%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-6 {
    width: 50%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-7 {
    width: 58.33333%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-8 {
    width: 66.66667%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-9 {
    width: 75%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-10 {
    width: 83.33333%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-11 {
    width: 91.66667%;
  }
  /* line 165, libs/_mixins.scss */
  .row .colspan12-12 {
    width: 100%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-1 {
    margin-left: 8.33333%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-2 {
    margin-left: 16.66667%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-3 {
    margin-left: 25%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-4 {
    margin-left: 33.33333%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-5 {
    margin-left: 41.66667%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-6 {
    margin-left: 50%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-7 {
    margin-left: 58.33333%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-8 {
    margin-left: 66.66667%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-9 {
    margin-left: 75%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-10 {
    margin-left: 83.33333%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-11 {
    margin-left: 91.66667%;
  }
  /* line 170, libs/_mixins.scss */
  .row .push12-12 {
    margin-left: 100%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-1 {
    margin-right: 8.33333%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-2 {
    margin-right: 16.66667%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-3 {
    margin-right: 25%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-4 {
    margin-right: 33.33333%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-5 {
    margin-right: 41.66667%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-6 {
    margin-right: 50%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-7 {
    margin-right: 58.33333%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-8 {
    margin-right: 66.66667%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-9 {
    margin-right: 75%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-10 {
    margin-right: 83.33333%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-11 {
    margin-right: 91.66667%;
  }
  /* line 175, libs/_mixins.scss */
  .row .pull12-12 {
    margin-right: 100%;
  }
  /* line 179, libs/_mixins.scss */
  .row .push-disable12 {
    margin-left: 0;
  }
  /* line 182, libs/_mixins.scss */
  .row .pull-disable12 {
    margin-right: 0;
  }
  /* line 185, libs/_mixins.scss */
  .row .hide-at12 {
    display: none;
  }
  /* line 188, libs/_mixins.scss */
  .row .block-show-at12 {
    display: block;
  }
  /* line 191, libs/_mixins.scss */
  .row .inline-show-at12 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1300px) {
  /* line 14, add-ons/_grid.scss */
  .row {
    width: 1300px;
  }
}
/* line 43, add-ons/_grid.scss */
.lt-ie9 .row {
  width: 980px;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-1 {
  width: 8.33333%;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-2 {
  width: 16.66667%;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-3 {
  width: 25%;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-4 {
  width: 33.33333%;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-5 {
  width: 41.66667%;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-6 {
  width: 50%;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-7 {
  width: 58.33333%;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-8 {
  width: 66.66667%;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-9 {
  width: 75%;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-10 {
  width: 83.33333%;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-11 {
  width: 91.66667%;
}
/* line 165, libs/_mixins.scss */
.lt-ie9 .row .colspan12-12 {
  width: 100%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-1 {
  margin-left: 8.33333%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-2 {
  margin-left: 16.66667%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-3 {
  margin-left: 25%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-4 {
  margin-left: 33.33333%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-5 {
  margin-left: 41.66667%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-6 {
  margin-left: 50%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-7 {
  margin-left: 58.33333%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-8 {
  margin-left: 66.66667%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-9 {
  margin-left: 75%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-10 {
  margin-left: 83.33333%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-11 {
  margin-left: 91.66667%;
}
/* line 170, libs/_mixins.scss */
.lt-ie9 .row .push12-12 {
  margin-left: 100%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-1 {
  margin-right: 8.33333%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-2 {
  margin-right: 16.66667%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-3 {
  margin-right: 25%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-4 {
  margin-right: 33.33333%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-5 {
  margin-right: 41.66667%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-6 {
  margin-right: 50%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-7 {
  margin-right: 58.33333%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-8 {
  margin-right: 66.66667%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-9 {
  margin-right: 75%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-10 {
  margin-right: 83.33333%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-11 {
  margin-right: 91.66667%;
}
/* line 175, libs/_mixins.scss */
.lt-ie9 .row .pull12-12 {
  margin-right: 100%;
}
/* line 179, libs/_mixins.scss */
.lt-ie9 .row .push-disable12 {
  margin-left: 0;
}
/* line 182, libs/_mixins.scss */
.lt-ie9 .row .pull-disable12 {
  margin-right: 0;
}
/* line 185, libs/_mixins.scss */
.lt-ie9 .row .hide-at12 {
  display: none;
}
/* line 188, libs/_mixins.scss */
.lt-ie9 .row .block-show-at12 {
  display: block;
}
/* line 191, libs/_mixins.scss */
.lt-ie9 .row .inline-show-at12 {
  display: inline;
  display: inline-block;
}

/* line 51, add-ons/_grid.scss */
.row__colspaced {
  position: relative;
}
/* line 77, libs/_mixins.scss */
.lt-ie9 .row__colspaced {
  min-width: 103%;
  left: -3%;
}
@media screen and (min-width: 420px) {
  /* line 51, add-ons/_grid.scss */
  .row__colspaced {
    min-width: 103%;
    left: -3%;
  }
}
/* line 58, add-ons/_grid.scss */
.lt-ie9 .row__colspaced {
  max-width: 100%;
  min-width: auto;
  left: auto;
}

/* ::Base styles */
/* ------------------------------------------------------------ */
/* line 24, screen.scss */
html {
  font-size: 100%;
}
@media screen and (max-width: 767px) {
  /* line 24, screen.scss */
  html {
    -webkit-text-size-adjust: 100%;
  }
}

/* line 31, screen.scss */
body {
  background: #fcfcfc;
  color: #666666;
}

/* line 37, screen.scss */
a {
  color: #666666;
  text-decoration: none;
}
/* line 50, libs/_mixins.scss */
a:hover, a:focus, a:active {
  background-color: #FFFF00;
}

/* line 47, screen.scss */
.selected-item {
  background-color: #FFFF00;
}

/* line 51, screen.scss */
.wrapper {
  max-width: 1100px;
  margin: 0 auto 20px auto;
  width: 92%;
}

/* ::Custom styles */
/* ------------------------------------------------------------ */
/* ----- CONTACT & SORT ----- */
/* line 63, screen.scss */
.contact {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* line 69, screen.scss */
.sort {
  width: 100%;
  margin: 20px 0.6% 8px 0.6%;
}

/* line 74, screen.scss */
.text-block {
  float: left;
}
/* line 76, screen.scss */
.text-block h1 {
  display: inline-block;
  font-size: 11px;
  width: auto;
  margin-bottom: 10px;
  padding-bottom: 1px;
  border-bottom: 1px dotted #666666;
}
/* line 84, screen.scss */
.text-block p {
  font-size: 10px;
  letter-spacing: 1px;
  width: 75%;
}
/* line 89, screen.scss */
.text-block a {
  color: black;
}
/* line 91, screen.scss */
.text-block a:hover {
  background: none;
  color: #666666;
}

/* ----- TEXT BLOCK ----- */
/* line 100, screen.scss */
.two-col {
  width: 48.8%;
  margin-left: 0.6%;
  margin-right: 0.6%;
}

/* line 106, screen.scss */
.four-col {
  width: 24%;
  margin-left: 0.6%;
  margin-right: 0.6%;
}
/* line 110, screen.scss */
.four-col p {
  width: 100%;
}

/* line 116, screen.scss */
.description p {
  width: 100%;
}

/* line 121, screen.scss */
.nav-post {
  float: right;
  margin-left: 0;
  text-align: right;
  display: inline;
  margin-right: 1%;
}
/* line 127, screen.scss */
.nav-post p {
  width: auto;
}

/* line 132, screen.scss */
.two-five {
  float: right;
  width: 39%;
}

/* ----- INDEX CONTENT ----- */
/* line 139, screen.scss */
.container {
  width: 101%;
  padding-top: 83px;
  margin-right: -0.5%;
  margin-left: -0.5%;
  display: inline-block;
}
/* line 145, screen.scss */
.container .box-container {
  margin-top: 25px;
}
/* line 147, screen.scss */
.container .box-container .clearboth {
  clear: both;
}
/* line 148, screen.scss */
.container .box-container .box {
  width: 19%;
  margin: 0 0.5% 1% 0.5%;
  height: 0;
  padding-bottom: 19%;
  overflow: hidden;
  float: left;
  position: relative;
}
/* line 156, screen.scss */
.container .box-container .box img {
  height: 100%;
  width: auto;
  min-width: 100%;
  position: absolute;
}
/* line 162, screen.scss */
.container .box-container .box .box-description {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
/* line 168, screen.scss */
.container .box-container .box .box-description p {
  font-size: 0.8125em;
  line-height: 1.35385em;
  margin: 45% auto 0 auto;
  text-align: center;
  color: white;
}
/* line 174, screen.scss */
.container .box-container .box .box-description:hover {
  opacity: 1;
}

/* ----- SINGLE CONTENT ----- */
/* line 184, screen.scss */
.project-images {
  width: 78%;
  margin: 0 0.5% 0 0.5%;
  float: left;
  position: relative img;
  position-width: 100%;
  position-height: auto;
  position-float: left;
}
/* line 50, libs/_mixins.scss */
.project-images a:hover, .project-images a:focus, .project-images a:active {
  background-color: transparent;
}

/* line 201, screen.scss */
.project-title {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  float: left;
  margin: 0 0.5% 0 0.5%;
  width: 20%;
}

/* line 211, screen.scss */
h1.project-name {
  border-bottom: none;
  font-weight: bold;
  font-size: 12px;
}

/* line 217, screen.scss */
.top-link {
  width: 100%;
  text-align: center;
  font-size: 13px;
  margin: 30px 0 30px 0;
}

/* ::Media Queries */
/* ------------------------------------------------------------ */
/* ----- 1000 PX ----- */
@media screen and (max-width: 1000px) {
  /* line 234, screen.scss */
  .container .box-container .box {
    width: 24%;
    padding-bottom: 24%;
  }
  /* line 240, screen.scss */
  .container .box-container .box .box-description p {
    margin: 42% auto 0 auto;
  }

  /* line 250, screen.scss */
  .two-five {
    float: left;
    width: 48.6%;
  }
}
/* ----- 750 PX ----- */
@media screen and (max-width: 750px) {
  /* line 266, screen.scss */
  .text-block p {
    letter-spacing: 1px;
    width: 90%;
  }

  /* line 274, screen.scss */
  .container {
    width: 101.5%;
    margin-right: -0.75%;
    margin-left: -0.75%;
  }
  /* line 279, screen.scss */
  .container .box-container .box {
    width: 31.8%;
    padding-bottom: 31.8%;
    margin: 0 0.75% 1.5% 0.75%;
  }
  /* line 286, screen.scss */
  .container .box-container .box .box-description p {
    margin: 42% auto 0 auto;
  }
}
/* ----- 500 PX ----- */
@media screen and (max-width: 500px) {
  /* line 303, screen.scss */
  .extra-margins {
    margin-top: 100px;
  }

  /* line 310, screen.scss */
  .text-block p {
    letter-spacing: 1px;
    width: 98%;
  }

  /* line 318, screen.scss */
  #sub-box-contact {
    margin-top: 10px;
  }

  /* line 323, screen.scss */
  .contact .two-col {
    width: 95%;
    margin-left: 1%;
    margin-right: 1%;
  }

  /* line 330, screen.scss */
  .container {
    width: 102%;
    margin-right: -1%;
    margin-left: -1%;
  }
  /* line 335, screen.scss */
  .container .box-container .box {
    width: 48%;
    padding-bottom: 48%;
    margin: 0 1% 2% 1%;
  }
  /* line 342, screen.scss */
  .container .box-container .box .box-description p {
    margin: 42% auto 0 auto;
  }
}
/* ::Print */
/* ------------------------------------------------------------ */
@media print {
  /* line 358, screen.scss */
  body {
    line-height: 0.55em;
    font-size: 62.5%;
  }
}
